<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research Application Questions and Answers</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: #f7f7f7;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 50px;
      }
      .title {
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
      }
      .subtitle {
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
        color: gray;
      }
      .question-answer {
        page-break-inside: avoid;
        padding-top: 30px
      }
      .question {
        font-size: 22px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 10px;
      }
      .answer {
        font-size: 18px;
        color: gray;
        margin-top: 20px;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="title"><%= questions[0].answer %></div>
      <div class="subtitle">Research Questions and Answers</div>
      <!-- Add a loop to display the questions and answers -->
      <% for(var i=0; i< questions.length; i++) { %>
        <div class="question-answer">
          <div class="question">Ques. <%= questions[i].question %></div>
          <div class="answer">Ans. <%= questions[i].answer %></div>
        </div>
      <% } %>
    </div>
  </body>
</html>